* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-image: url("../public/stacked-waves-haikei.svg");
  background-size: cover;
  background-attachment: fixed;
}

.controls {
  background-color: white;
  padding: 20px;
}

.binary-tree-container {
  position: relative;
  height: 100vh;
  padding: 5px 30px;
}

.binary-tree-container > .node {
  position: absolute;
  left: 50%;
}

.node {
  position: absolute;
  margin: 1vw;
}

.value {
  width: 3vw;
  height: 3vw;
  padding-top: 27%;
  font-size: 1vw;
  text-align: center;
  font-weight: bold;
  background-image: url("../public/node.svg");
  background-position: center;
  background-size: 100%;
}

.left-link {
  position: absolute;
  right: 3vw;
  width: 20px;
  height: 20px;
  background-image: url("../public/left-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.right-link {
  position: absolute;
  left: 100%;
  width: 20px;
  height: 20px;
  background-image: url("../public/right-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-link > .node {
  position: absolute;
  right: 1vw;
}

.right-link > .node {
  position: absolute;
  left: 1vw;
}
