* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-image: url("../public/stacked-waves-haikei.svg");
  background-size: cover;
  background-attachment: fixed;
}

.controls {
  background-color: white;
  padding: 20px;
}

.binary-tree-container {
  position: relative;
  height: 100vh;
  padding: 5px 30px;
}

/* root */
.binary-tree-container > .node {
  position: absolute;
  left: 50%;
}

.node {
  position: absolute;
  margin: 1vw;
}

.value {
  position: absolute;
  width: 2vw;
  height: 2vw;
  font-size: 0.8vw;
  text-align: center;
  font-weight: bold;
  background-image: url("../public/node.svg");
  background-position: center;
  background-size: 100%;
}
