* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.binary-tree-container {
  background-image: url("../public/stacked-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  width: 80vw;
  padding: 0;
  margin: 0;
}

.value {
  margin: auto;
  width: 50px;
  font-size: 2rem;
  text-align: center;
}

img {
  max-width: 100%;
}


